<div id="welcome" data-dir="down" class="parallax" data-parallax-bg-image="img/bg-background.jpg">
  <div class="welcome-title">
    <h1><div class="welcome-headline">Web-Freak, Software Entwickler, <nobr>IT-Projektmanger</nobr></div>Ich liebe Web, Apps, <nobr>E-Commerce</nobr> und Client/Server Anwendungen.</h1>
  </div>
</div>
<script>
  ready(function() {
    $('.parallax').parallaxBackground();
  });
</script>