@import "variables";

.font-handwrite() {
  font-family: 'Shadows Into Light', cursive;
}

.font-title() {
  font-family: 'Anton', serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.font-block() {
  font-family: 'PT Sans Narrow', serif;
}

.font-welcome() {
  color: @font-darkbg;
  text-shadow: 5px 5px 10px rgba(5, 5, 5, 0.8);

  h1 {
    font-size: 60pt;
    text-transform: uppercase;
    .font-title();

    @media (max-width: 767px) {
      font-size: 22pt;
    }
    @media (min-width: 768px) and (max-width: 992px) {
      font-size: 45pt;
    }
    @media (min-width: 992px) and (max-width: 1199px) {
      font-size: 55pt;
    }
  }
}

.font-welcome-headline() {
  .font-block();
  font-size: 20pt;
  text-transform: none;
  @media (max-width: 767px) {
    font-size: 16pt;
    text-shadow: 2px 3px 5px rgba(5, 5, 5, 0.8);
  }
  @media (min-width: 768px) and (max-width: 992px) {
    font-size: 18pt;
    text-shadow: 2px 3px 5px rgba(5, 5, 5, 0.8);
  }
}

.font-default() {
  .font-block();
  font-size: 18pt;

  @media (max-width: 767px) {
    font-size: 14pt;
  }
  @media (min-width: 768px) and (max-width: 992px) {
    font-size: 16pt;
  }
}

.font-header-info() {
  .font-handwrite();
  font-size: 20pt;
  color: @font-darkbg;
  text-shadow: 0px 5px 10px rgba(5, 5, 5, 0.7);

  @media (max-width: 767px) {
    font-size: 14pt;
    margin-top: -10px;
  }
}

.font-menue-item() {
  .font-title();
  font-size: 40pt;

  @media (max-width: 767px) {
    font-size: 20pt;
  }
  @media (min-width: 768px) and (max-width: 992px) {
    font-size: 30pt;
  }
}

.font-section-title() {
  .font-title();
  font-size: 40pt;

  @media (max-width: 767px) {
    font-size: 20pt;
  }
  @media (min-width: 768px) and (max-width: 992px) {
    font-size: 30pt;
  }
}

.font-section-title-small() {
  .font-title();
  font-size: 20pt;

  @media (max-width: 767px) {
    font-size: 16pt;
  }
  @media (min-width: 768px) and (max-width: 992px) {
    font-size: 18pt;
  }
}