@import "variables";
@import "fonts";

html, body {
  width: 100%;
  height: 100%;
  background: #000;
  margin:0;
  padding:0;
  .font-default();
}

.section() {
  .block-inner {
    margin-left: auto;
    margin-right: auto;

    @media (max-width: 767px) {
      padding: 30px 20px;
    }

    @media (min-width: 768px) and (max-width: 992px) {
      padding: 40px 20px;
      width: 740px;
    }

    @media (min-width: 992px) {
      padding: 60px 20px;
      width: 970px;
    }

    @media (min-width: 1200px) {
      padding: 80px 20px;
      width: 1170px;
    }
  }

  h2,h3,h4,h5 {
    .font-section-title();
    margin: 0px 0px 20px 0px;
  }

  h4,h5 {
    .font-section-title-small();
  }

  .icon {
    font-size: 50px;
  }
}

.darkblock() {
  background: @darkbg;
  color: #fff;
  .section();

  a {
    color: #66b8ff;
  }
}

.lightblock() {
  background: @lightbg;
  color: #fff;
  .section();
}

#section1.block {
  .lightblock();
}

#skills.block {
  .lightblock();
}

#contact.block {
  .darkblock();
}

#imprint.block {
  .lightblock();
}

.social-links {
  a {
    font-size: 40px;
    color: @font-darkbg !important;
  }

  ul, li {
    display: inline-block;
    margin: 0;
    padding: 0;

    li {
      margin-right: 15px;
      color: @font-darkbg;
    }
  }
}

.spacer-main {
  clear: both;
}

.spacer {
  .spacer-main;
  &-xs {
    height: 10px;
    @media (max-width: 767px) {
      height: 5px;
    }
    @media (min-width: 768px) and (max-width: 992px) {
      height: 7px;
    }
  }

  &-sm {
    .spacer-main;
    height: 15px;
    @media (max-width: 767px) {
      height: 10px;
    }
    @media (min-width: 768px) and (max-width: 992px) {
      height: 12px;
    }
  }

  &-md {
    .spacer-main;
    height: 20px;
    @media (max-width: 767px) {
      height: 15px;
    }
    @media (min-width: 768px) and (max-width: 992px) {
      height: 17px;
    }
  }

  &-lg {
    .spacer-main;
    height: 40px;
    @media (max-width: 767px) {
      height: 20px;
    }
    @media (min-width: 768px) and (max-width: 992px) {
      height: 30px;
    }
  }

  &-xl {
    .spacer-main;
    height: 50px;
    @media (max-width: 767px) {
      height: 30px;
    }
    @media (min-width: 768px) and (max-width: 992px) {
      height: 40px;
    }
  }

  &-xxl {
    .spacer-main;
    height: 100px;
    @media (max-width: 767px) {
      height: 50px;
    }
    @media (min-width: 768px) and (max-width: 992px) {
      height: 70px;
    }
  }
}