html,
body {
  width: 100%;
  height: 100%;
  background: #000;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans Narrow', serif;
  font-size: 18pt;
}
@media (max-width: 767px) {
  html,
  body {
    font-size: 14pt;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  html,
  body {
    font-size: 16pt;
  }
}
#section1.block {
  background: #1b1b1b;
  color: #fff;
}
#section1.block .block-inner {
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 767px) {
  #section1.block .block-inner {
    padding: 30px 20px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  #section1.block .block-inner {
    padding: 40px 20px;
    width: 740px;
  }
}
@media (min-width: 992px) {
  #section1.block .block-inner {
    padding: 60px 20px;
    width: 970px;
  }
}
@media (min-width: 1200px) {
  #section1.block .block-inner {
    padding: 80px 20px;
    width: 1170px;
  }
}
#section1.block h2,
#section1.block h3,
#section1.block h4,
#section1.block h5 {
  font-family: 'Anton', serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 40pt;
  margin: 0px 0px 20px 0px;
}
@media (max-width: 767px) {
  #section1.block h2,
  #section1.block h3,
  #section1.block h4,
  #section1.block h5 {
    font-size: 20pt;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  #section1.block h2,
  #section1.block h3,
  #section1.block h4,
  #section1.block h5 {
    font-size: 30pt;
  }
}
#section1.block h4,
#section1.block h5 {
  font-family: 'Anton', serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 20pt;
}
@media (max-width: 767px) {
  #section1.block h4,
  #section1.block h5 {
    font-size: 16pt;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  #section1.block h4,
  #section1.block h5 {
    font-size: 18pt;
  }
}
#section1.block .icon {
  font-size: 50px;
}
#section1.block a {
  color: #66b8ff;
}
#skills.block {
  background: #ff8400;
  color: #fff;
}
#skills.block .block-inner {
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 767px) {
  #skills.block .block-inner {
    padding: 30px 20px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  #skills.block .block-inner {
    padding: 40px 20px;
    width: 740px;
  }
}
@media (min-width: 992px) {
  #skills.block .block-inner {
    padding: 60px 20px;
    width: 970px;
  }
}
@media (min-width: 1200px) {
  #skills.block .block-inner {
    padding: 80px 20px;
    width: 1170px;
  }
}
#skills.block h2,
#skills.block h3,
#skills.block h4,
#skills.block h5 {
  font-family: 'Anton', serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 40pt;
  margin: 0px 0px 20px 0px;
}
@media (max-width: 767px) {
  #skills.block h2,
  #skills.block h3,
  #skills.block h4,
  #skills.block h5 {
    font-size: 20pt;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  #skills.block h2,
  #skills.block h3,
  #skills.block h4,
  #skills.block h5 {
    font-size: 30pt;
  }
}
#skills.block h4,
#skills.block h5 {
  font-family: 'Anton', serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 20pt;
}
@media (max-width: 767px) {
  #skills.block h4,
  #skills.block h5 {
    font-size: 16pt;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  #skills.block h4,
  #skills.block h5 {
    font-size: 18pt;
  }
}
#skills.block .icon {
  font-size: 50px;
}
#contact.block {
  background: #1b1b1b;
  color: #fff;
}
#contact.block .block-inner {
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 767px) {
  #contact.block .block-inner {
    padding: 30px 20px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  #contact.block .block-inner {
    padding: 40px 20px;
    width: 740px;
  }
}
@media (min-width: 992px) {
  #contact.block .block-inner {
    padding: 60px 20px;
    width: 970px;
  }
}
@media (min-width: 1200px) {
  #contact.block .block-inner {
    padding: 80px 20px;
    width: 1170px;
  }
}
#contact.block h2,
#contact.block h3,
#contact.block h4,
#contact.block h5 {
  font-family: 'Anton', serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 40pt;
  margin: 0px 0px 20px 0px;
}
@media (max-width: 767px) {
  #contact.block h2,
  #contact.block h3,
  #contact.block h4,
  #contact.block h5 {
    font-size: 20pt;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  #contact.block h2,
  #contact.block h3,
  #contact.block h4,
  #contact.block h5 {
    font-size: 30pt;
  }
}
#contact.block h4,
#contact.block h5 {
  font-family: 'Anton', serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 20pt;
}
@media (max-width: 767px) {
  #contact.block h4,
  #contact.block h5 {
    font-size: 16pt;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  #contact.block h4,
  #contact.block h5 {
    font-size: 18pt;
  }
}
#contact.block .icon {
  font-size: 50px;
}
#contact.block a {
  color: #66b8ff;
}
#imprint.block {
  background: #ff8400;
  color: #fff;
}
#imprint.block .block-inner {
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 767px) {
  #imprint.block .block-inner {
    padding: 30px 20px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  #imprint.block .block-inner {
    padding: 40px 20px;
    width: 740px;
  }
}
@media (min-width: 992px) {
  #imprint.block .block-inner {
    padding: 60px 20px;
    width: 970px;
  }
}
@media (min-width: 1200px) {
  #imprint.block .block-inner {
    padding: 80px 20px;
    width: 1170px;
  }
}
#imprint.block h2,
#imprint.block h3,
#imprint.block h4,
#imprint.block h5 {
  font-family: 'Anton', serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 40pt;
  margin: 0px 0px 20px 0px;
}
@media (max-width: 767px) {
  #imprint.block h2,
  #imprint.block h3,
  #imprint.block h4,
  #imprint.block h5 {
    font-size: 20pt;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  #imprint.block h2,
  #imprint.block h3,
  #imprint.block h4,
  #imprint.block h5 {
    font-size: 30pt;
  }
}
#imprint.block h4,
#imprint.block h5 {
  font-family: 'Anton', serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 20pt;
}
@media (max-width: 767px) {
  #imprint.block h4,
  #imprint.block h5 {
    font-size: 16pt;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  #imprint.block h4,
  #imprint.block h5 {
    font-size: 18pt;
  }
}
#imprint.block .icon {
  font-size: 50px;
}
.social-links a {
  font-size: 40px;
  color: #fff !important;
}
.social-links ul,
.social-links li {
  display: inline-block;
  margin: 0;
  padding: 0;
}
.social-links ul li,
.social-links li li {
  margin-right: 15px;
  color: #fff;
}
.spacer-main {
  clear: both;
}
.spacer {
  clear: both;
}
.spacer-xs {
  height: 10px;
}
@media (max-width: 767px) {
  .spacer-xs {
    height: 5px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .spacer-xs {
    height: 7px;
  }
}
.spacer-sm {
  clear: both;
  height: 15px;
}
@media (max-width: 767px) {
  .spacer-sm {
    height: 10px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .spacer-sm {
    height: 12px;
  }
}
.spacer-md {
  clear: both;
  height: 20px;
}
@media (max-width: 767px) {
  .spacer-md {
    height: 15px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .spacer-md {
    height: 17px;
  }
}
.spacer-lg {
  clear: both;
  height: 40px;
}
@media (max-width: 767px) {
  .spacer-lg {
    height: 20px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .spacer-lg {
    height: 30px;
  }
}
.spacer-xl {
  clear: both;
  height: 50px;
}
@media (max-width: 767px) {
  .spacer-xl {
    height: 30px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .spacer-xl {
    height: 40px;
  }
}
.spacer-xxl {
  clear: both;
  height: 100px;
}
@media (max-width: 767px) {
  .spacer-xxl {
    height: 50px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .spacer-xxl {
    height: 70px;
  }
}
