/* anton-regular - latin */
@font-face {
  font-family: 'Anton';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/anton-v23-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('../fonts/anton-v23-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/anton-v23-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/anton-v23-latin-regular.woff') format('woff'), /* Modern Browsers */
  url('../fonts/anton-v23-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/anton-v23-latin-regular.svg#Anton') format('svg'); /* Legacy iOS */
}

/* pt-sans-narrow-regular - latin */
@font-face {
  font-family: 'PT Sans Narrow';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/pt-sans-narrow-v17-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('../fonts/pt-sans-narrow-v17-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/pt-sans-narrow-v17-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/pt-sans-narrow-v17-latin-regular.woff') format('woff'), /* Modern Browsers */
  url('../fonts/pt-sans-narrow-v17-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/pt-sans-narrow-v17-latin-regular.svg#PTSansNarrow') format('svg'); /* Legacy iOS */
}

/* shadows-into-light-regular - latin */
@font-face {
  font-family: 'Shadows Into Light';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/shadows-into-light-v15-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('../fonts/shadows-into-light-v15-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/shadows-into-light-v15-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/shadows-into-light-v15-latin-regular.woff') format('woff'), /* Modern Browsers */
  url('../fonts/shadows-into-light-v15-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/shadows-into-light-v15-latin-regular.svg#ShadowsIntoLight') format('svg'); /* Legacy iOS */
}

@import "layout";
@import "welcome";
@import "header";
@import "nav";
@import "skills";
@import "progress-circle.css";