/* anton-regular - latin */
@import "progress-circle.css";
@font-face {
  font-family: 'Anton';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/anton-v23-latin-regular.eot');
  /* IE9 Compat Modes */
  src: local(''), url('../fonts/anton-v23-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/anton-v23-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/anton-v23-latin-regular.woff') format('woff'), /* Modern Browsers */ url('../fonts/anton-v23-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/anton-v23-latin-regular.svg#Anton') format('svg');
  /* Legacy iOS */
}
/* pt-sans-narrow-regular - latin */
@font-face {
  font-family: 'PT Sans Narrow';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/pt-sans-narrow-v17-latin-regular.eot');
  /* IE9 Compat Modes */
  src: local(''), url('../fonts/pt-sans-narrow-v17-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/pt-sans-narrow-v17-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/pt-sans-narrow-v17-latin-regular.woff') format('woff'), /* Modern Browsers */ url('../fonts/pt-sans-narrow-v17-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/pt-sans-narrow-v17-latin-regular.svg#PTSansNarrow') format('svg');
  /* Legacy iOS */
}
/* shadows-into-light-regular - latin */
@font-face {
  font-family: 'Shadows Into Light';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/shadows-into-light-v15-latin-regular.eot');
  /* IE9 Compat Modes */
  src: local(''), url('../fonts/shadows-into-light-v15-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/shadows-into-light-v15-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/shadows-into-light-v15-latin-regular.woff') format('woff'), /* Modern Browsers */ url('../fonts/shadows-into-light-v15-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/shadows-into-light-v15-latin-regular.svg#ShadowsIntoLight') format('svg');
  /* Legacy iOS */
}
html,
body {
  width: 100%;
  height: 100%;
  background: #000;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans Narrow', serif;
  font-size: 18pt;
}
@media (max-width: 767px) {
  html,
  body {
    font-size: 14pt;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  html,
  body {
    font-size: 16pt;
  }
}
#section1.block {
  background: #ff8400;
  color: #fff;
}
#section1.block .block-inner {
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 767px) {
  #section1.block .block-inner {
    padding: 30px 20px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  #section1.block .block-inner {
    padding: 40px 20px;
    width: 740px;
  }
}
@media (min-width: 992px) {
  #section1.block .block-inner {
    padding: 60px 20px;
    width: 970px;
  }
}
@media (min-width: 1200px) {
  #section1.block .block-inner {
    padding: 80px 20px;
    width: 1170px;
  }
}
#section1.block h2,
#section1.block h3,
#section1.block h4,
#section1.block h5 {
  font-family: 'Anton', serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 40pt;
  margin: 0px 0px 20px 0px;
}
@media (max-width: 767px) {
  #section1.block h2,
  #section1.block h3,
  #section1.block h4,
  #section1.block h5 {
    font-size: 20pt;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  #section1.block h2,
  #section1.block h3,
  #section1.block h4,
  #section1.block h5 {
    font-size: 30pt;
  }
}
#section1.block h4,
#section1.block h5 {
  font-family: 'Anton', serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 20pt;
}
@media (max-width: 767px) {
  #section1.block h4,
  #section1.block h5 {
    font-size: 16pt;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  #section1.block h4,
  #section1.block h5 {
    font-size: 18pt;
  }
}
#section1.block .icon {
  font-size: 50px;
}
#skills.block {
  background: #ff8400;
  color: #fff;
}
#skills.block .block-inner {
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 767px) {
  #skills.block .block-inner {
    padding: 30px 20px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  #skills.block .block-inner {
    padding: 40px 20px;
    width: 740px;
  }
}
@media (min-width: 992px) {
  #skills.block .block-inner {
    padding: 60px 20px;
    width: 970px;
  }
}
@media (min-width: 1200px) {
  #skills.block .block-inner {
    padding: 80px 20px;
    width: 1170px;
  }
}
#skills.block h2,
#skills.block h3,
#skills.block h4,
#skills.block h5 {
  font-family: 'Anton', serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 40pt;
  margin: 0px 0px 20px 0px;
}
@media (max-width: 767px) {
  #skills.block h2,
  #skills.block h3,
  #skills.block h4,
  #skills.block h5 {
    font-size: 20pt;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  #skills.block h2,
  #skills.block h3,
  #skills.block h4,
  #skills.block h5 {
    font-size: 30pt;
  }
}
#skills.block h4,
#skills.block h5 {
  font-family: 'Anton', serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 20pt;
}
@media (max-width: 767px) {
  #skills.block h4,
  #skills.block h5 {
    font-size: 16pt;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  #skills.block h4,
  #skills.block h5 {
    font-size: 18pt;
  }
}
#skills.block .icon {
  font-size: 50px;
}
#contact.block {
  background: #1b1b1b;
  color: #fff;
}
#contact.block .block-inner {
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 767px) {
  #contact.block .block-inner {
    padding: 30px 20px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  #contact.block .block-inner {
    padding: 40px 20px;
    width: 740px;
  }
}
@media (min-width: 992px) {
  #contact.block .block-inner {
    padding: 60px 20px;
    width: 970px;
  }
}
@media (min-width: 1200px) {
  #contact.block .block-inner {
    padding: 80px 20px;
    width: 1170px;
  }
}
#contact.block h2,
#contact.block h3,
#contact.block h4,
#contact.block h5 {
  font-family: 'Anton', serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 40pt;
  margin: 0px 0px 20px 0px;
}
@media (max-width: 767px) {
  #contact.block h2,
  #contact.block h3,
  #contact.block h4,
  #contact.block h5 {
    font-size: 20pt;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  #contact.block h2,
  #contact.block h3,
  #contact.block h4,
  #contact.block h5 {
    font-size: 30pt;
  }
}
#contact.block h4,
#contact.block h5 {
  font-family: 'Anton', serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 20pt;
}
@media (max-width: 767px) {
  #contact.block h4,
  #contact.block h5 {
    font-size: 16pt;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  #contact.block h4,
  #contact.block h5 {
    font-size: 18pt;
  }
}
#contact.block .icon {
  font-size: 50px;
}
#contact.block a {
  color: #66b8ff;
}
#imprint.block {
  background: #ff8400;
  color: #fff;
}
#imprint.block .block-inner {
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 767px) {
  #imprint.block .block-inner {
    padding: 30px 20px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  #imprint.block .block-inner {
    padding: 40px 20px;
    width: 740px;
  }
}
@media (min-width: 992px) {
  #imprint.block .block-inner {
    padding: 60px 20px;
    width: 970px;
  }
}
@media (min-width: 1200px) {
  #imprint.block .block-inner {
    padding: 80px 20px;
    width: 1170px;
  }
}
#imprint.block h2,
#imprint.block h3,
#imprint.block h4,
#imprint.block h5 {
  font-family: 'Anton', serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 40pt;
  margin: 0px 0px 20px 0px;
}
@media (max-width: 767px) {
  #imprint.block h2,
  #imprint.block h3,
  #imprint.block h4,
  #imprint.block h5 {
    font-size: 20pt;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  #imprint.block h2,
  #imprint.block h3,
  #imprint.block h4,
  #imprint.block h5 {
    font-size: 30pt;
  }
}
#imprint.block h4,
#imprint.block h5 {
  font-family: 'Anton', serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 20pt;
}
@media (max-width: 767px) {
  #imprint.block h4,
  #imprint.block h5 {
    font-size: 16pt;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  #imprint.block h4,
  #imprint.block h5 {
    font-size: 18pt;
  }
}
#imprint.block .icon {
  font-size: 50px;
}
.social-links a {
  font-size: 40px;
  color: #fff !important;
}
.social-links ul,
.social-links li {
  display: inline-block;
  margin: 0;
  padding: 0;
}
.social-links ul li,
.social-links li li {
  margin-right: 15px;
  color: #fff;
}
.spacer-main {
  clear: both;
}
.spacer {
  clear: both;
}
.spacer-xs {
  height: 10px;
}
@media (max-width: 767px) {
  .spacer-xs {
    height: 5px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .spacer-xs {
    height: 7px;
  }
}
.spacer-sm {
  clear: both;
  height: 15px;
}
@media (max-width: 767px) {
  .spacer-sm {
    height: 10px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .spacer-sm {
    height: 12px;
  }
}
.spacer-md {
  clear: both;
  height: 20px;
}
@media (max-width: 767px) {
  .spacer-md {
    height: 15px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .spacer-md {
    height: 17px;
  }
}
.spacer-lg {
  clear: both;
  height: 40px;
}
@media (max-width: 767px) {
  .spacer-lg {
    height: 20px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .spacer-lg {
    height: 30px;
  }
}
.spacer-xl {
  clear: both;
  height: 50px;
}
@media (max-width: 767px) {
  .spacer-xl {
    height: 30px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .spacer-xl {
    height: 40px;
  }
}
.spacer-xxl {
  clear: both;
  height: 100px;
}
@media (max-width: 767px) {
  .spacer-xxl {
    height: 50px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .spacer-xxl {
    height: 70px;
  }
}
#welcome {
  position: relative;
  width: 100%;
  min-height: calc(100% - 0px);
  height: calc(100% - 0px);
  z-index: 1;
  overflow: hidden;
  background: #1b1b1b;
}
#welcome .welcome-title {
  position: absolute;
  bottom: 80px;
  left: 80px;
  color: #fff;
  text-shadow: 5px 5px 10px rgba(5, 5, 5, 0.8);
  width: 50%;
}
#welcome .welcome-title h1 {
  font-size: 60pt;
  font-family: 'Anton', serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}
@media (max-width: 767px) {
  #welcome .welcome-title h1 {
    font-size: 22pt;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  #welcome .welcome-title h1 {
    font-size: 45pt;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  #welcome .welcome-title h1 {
    font-size: 55pt;
  }
}
@media (max-width: 992px) {
  #welcome .welcome-title {
    width: inherit !important;
    left: 0px;
    right: 0px;
    bottom: 0px;
    padding: 20px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  #welcome .welcome-title {
    bottom: 40px;
    left: 40px;
  }
}
#welcome .welcome-headline {
  font-family: 'PT Sans Narrow', serif;
  font-size: 20pt;
  text-transform: none;
  margin-bottom: 10px;
}
@media (max-width: 767px) {
  #welcome .welcome-headline {
    font-size: 16pt;
    text-shadow: 2px 3px 5px rgba(5, 5, 5, 0.8);
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  #welcome .welcome-headline {
    font-size: 18pt;
    text-shadow: 2px 3px 5px rgba(5, 5, 5, 0.8);
  }
}
.header-top {
  position: fixed;
  top: 0;
  height: 100px;
  width: 100%;
  z-index: 999;
  padding: 30px 80px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  transition: 500ms;
}
@media (max-width: 767px) {
  .header-top {
    padding: 30px 20px;
    height: 50px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .header-top {
    padding: 30px 20px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .header-top {
    padding: 30px 40px;
  }
}
.header-top.dark {
  background-color: #1b1b1b;
  border-bottom: hidden;
  transition: 500ms;
}
.header-top-info {
  font-family: 'Shadows Into Light', cursive;
  font-size: 20pt;
  color: #fff;
  text-shadow: 0px 5px 10px rgba(5, 5, 5, 0.7);
  float: left;
}
@media (max-width: 767px) {
  .header-top-info {
    font-size: 14pt;
    margin-top: -10px;
  }
}
.header-top-nav {
  float: right;
}
.header-top-nav a {
  color: #fff;
  font-size: 40px;
  margin-top: -5px;
  display: block;
}
@media (max-width: 767px) {
  .header-top-nav a {
    font-size: 22px;
    margin-top: -12px;
  }
}
.header-top-nav a .glyphicon:before {
  content: "\e236";
}
body.open-menue .header-top {
  background: none !important;
  border-bottom: 0;
}
body.open-menue .header-top .header-top-nav .glyphicon:before {
  content: "\e014";
}
.nav {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 998;
  top: -100%;
  background-color: rgba(27, 27, 27, 0.9);
  padding-top: 100px;
  transition: 500ms;
}
.nav a {
  color: #fff;
  text-decoration: none;
}
.nav a:hover,
.nav a:active,
.nav a:active:hover {
  opacity: 0.5;
}
.nav-body ul,
.nav-body li {
  display: block;
  margin: 0;
  padding: 0;
}
.nav-body ul {
  padding: 80px;
}
@media (max-width: 767px) {
  .nav-body ul {
    padding: 20px;
  }
}
.nav-body li {
  font-family: 'Anton', serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 40pt;
  margin-bottom: 20px;
  text-align: center;
}
@media (max-width: 767px) {
  .nav-body li {
    font-size: 20pt;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .nav-body li {
    font-size: 30pt;
  }
}
.nav-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: #fff;
  padding: 30px 80px;
}
@media (max-width: 767px) {
  .nav-footer {
    padding: 20px;
  }
}
.nav-footer .social-links a {
  font-size: 40px;
}
.nav-footer ul,
.nav-footer li {
  display: inline-block;
  margin: 0;
  padding: 0;
}
.nav-footer ul li,
.nav-footer li li {
  margin-right: 15px;
}
body.open-menue .nav {
  top: 0;
  transition: 500ms;
}
.dev-skill {
  display: inline-block;
  margin: 20px;
}
.dev-skills {
  margin-left: -20px;
  margin-right: -20px;
  margin-bottom: 30px;
  text-align: center;
}
.dev-skill-rating-5:before {
  content: "\e006 \e006 \e006 \e006 \e006";
}
.dev-skill-rating-4:before {
  content: "\e006 \e006 \e006 \e006 \e007";
}
.dev-skill-rating-3:before {
  content: "\e006 \e006 \e006 \e007 \e007";
}
.dev-skill-rating-2:before {
  content: "\e006 \e006 \e007 \e007 \e007";
}
.dev-skill-rating-1:before {
  content: "\e006 \e007 \e007 \e007 \e007";
}
.dev-skill .glyphicon + span {
  display: block;
  text-align: center;
}
/*# sourceMappingURL=main.css.map */