.nav {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 998;
  top: -100%;
  background-color: rgba(27, 27, 27, 0.9);
  padding-top: 100px;
  transition: 500ms;
}
.nav a {
  color: #fff;
  text-decoration: none;
}
.nav a:hover,
.nav a:active,
.nav a:active:hover {
  opacity: 0.5;
}
.nav-body ul,
.nav-body li {
  display: block;
  margin: 0;
  padding: 0;
}
.nav-body ul {
  padding: 80px;
}
@media (max-width: 767px) {
  .nav-body ul {
    padding: 20px;
  }
}
.nav-body li {
  font-family: 'Anton', serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 40pt;
  margin-bottom: 20px;
  text-align: center;
}
@media (max-width: 767px) {
  .nav-body li {
    font-size: 20pt;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .nav-body li {
    font-size: 30pt;
  }
}
.nav-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: #fff;
  padding: 30px 80px;
}
@media (max-width: 767px) {
  .nav-footer {
    padding: 20px;
  }
}
.nav-footer .social-links a {
  font-size: 40px;
}
.nav-footer ul,
.nav-footer li {
  display: inline-block;
  margin: 0;
  padding: 0;
}
.nav-footer ul li,
.nav-footer li li {
  margin-right: 15px;
}
body.open-menue .nav {
  top: 0;
  transition: 500ms;
}
