@import "fonts";
@import "variables";

.nav {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 998;
  top: -100%;
  background-color: fade(@darkbg, 90%);
  padding-top: 100px;
  transition: 500ms;

  a {
    color: @font-darkbg;
    text-decoration: none;

    &:hover,
    &:active,
    &:active:hover {
      opacity: 0.5;
    }
  }

  &-body {
    ul, li {
      display: block;
      margin: 0;
      padding: 0;
    }

    ul {
      padding: 80px;
      @media (max-width: 767px) {
        padding: 20px;
      }
   }

    li {
      .font-menue-item();
      margin-bottom: 20px;
      text-align: center;
    }
  }

  &-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    color: @font-darkbg;
    padding: 30px 80px;

    @media (max-width: 767px) {
      padding: 20px;
    }

    .social-links {
      a {
        font-size: 40px;
      }
    }

    ul, li {
      display: inline-block;
      margin: 0;
      padding: 0;

      li {
        margin-right: 15px;
      }
    }
  }
}

body.open-menue {

  .nav {
    top: 0;
    transition: 500ms;
  }
}