.dev-skill {
  display: inline-block;
  margin: 20px;
}
.dev-skills {
  margin-left: -20px;
  margin-right: -20px;
  margin-bottom: 30px;
  text-align: center;
}
.dev-skill-rating-5:before {
  content: "\e006 \e006 \e006 \e006 \e006";
}
.dev-skill-rating-4:before {
  content: "\e006 \e006 \e006 \e006 \e007";
}
.dev-skill-rating-3:before {
  content: "\e006 \e006 \e006 \e007 \e007";
}
.dev-skill-rating-2:before {
  content: "\e006 \e006 \e007 \e007 \e007";
}
.dev-skill-rating-1:before {
  content: "\e006 \e007 \e007 \e007 \e007";
}
.dev-skill .glyphicon + span {
  display: block;
  text-align: center;
}
