#welcome {
  position: relative;
  width: 100%;
  min-height: calc(100%);
  height: calc(100%);
  z-index: 1;
  overflow: hidden;
  background: #1b1b1b;
}
#welcome .welcome-title {
  position: absolute;
  bottom: 80px;
  left: 80px;
  color: #fff;
  text-shadow: 5px 5px 10px rgba(5, 5, 5, 0.8);
  width: 50%;
}
#welcome .welcome-title h1 {
  font-size: 60pt;
  font-family: 'Anton', serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}
@media (max-width: 767px) {
  #welcome .welcome-title h1 {
    font-size: 22pt;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  #welcome .welcome-title h1 {
    font-size: 45pt;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  #welcome .welcome-title h1 {
    font-size: 55pt;
  }
}
@media (max-width: 992px) {
  #welcome .welcome-title {
    width: inherit !important;
    left: 0px;
    right: 0px;
    bottom: 0px;
    padding: 20px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  #welcome .welcome-title {
    bottom: 40px;
    left: 40px;
  }
}
#welcome .welcome-headline {
  font-family: 'PT Sans Narrow', serif;
  font-size: 20pt;
  text-transform: none;
  margin-bottom: 10px;
}
@media (max-width: 767px) {
  #welcome .welcome-headline {
    font-size: 16pt;
    text-shadow: 2px 3px 5px rgba(5, 5, 5, 0.8);
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  #welcome .welcome-headline {
    font-size: 18pt;
    text-shadow: 2px 3px 5px rgba(5, 5, 5, 0.8);
  }
}
