@import "variables";
@import "fonts";

#welcome {
  position: relative;
  width: 100%;
  min-height: calc( 100% - 0px);
  height: calc( 100% - 0px);
  z-index: 1;
  overflow: hidden;
  background: @darkbg;

  .welcome {
    &-title {
      position: absolute;
      bottom: 80px;
      left: 80px;
      .font-welcome();
      width: 50%;

      @media (max-width: 992px) {
        width: inherit !important;
        left: 0px;
        right: 0px;
        bottom: 0px;
        padding: 20px;
      }

      @media (min-width: 992px) and (max-width: 1199px) {
        bottom: 40px;
        left: 40px;
      }

    }

    &-headline {
      .font-welcome-headline();
      margin-bottom: 10px;
    }
  }
}